################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Config files
appsettings.json
/.vs
DAL/obj/Debug/net8.0/DAL.assets.cache
DAL/obj/Debug/net8.0/DAL.assets.cache
DAL/obj/Debug/net8.0/DAL.csproj.AssemblyReference.cache
